numpy>=1.22
setuptools>=70.0.0
tensorboard
wandb
torch
tqdm>=4.41.0
megatron_core==0.12.1
nvidia-modelopt[torch]>=0.25.0,<=0.29.0 ; platform_system != 'Darwin'
nvidia-resiliency-ext>=0.3.0,<1.0.0; platform_system != 'Darwin'
tiktoken==0.7.0
datasets
einops
sentencepiece
omegaconf
packaging
pyyaml
regex
transformers
six==1.16.0
